.macondo-regular {
   font-family: "Macondo", cursive;
   font-weight: 400;
   font-style: normal;
 }

 * {
   margin: 0, auto;
   font-family: "Macondo", cursive;
   background-color: #116D6E;
   color: #321E1E;
   text-align: center
 }

 body {
  background-color:#116D6E;
 }
 
 h1, h2 {
   padding: 15px;
 }

 header {
   border-bottom: 2px solid #321E1E;
 }

.character {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.player-name, .player-race {
  margin: 10px;
  padding: 5px;
}

.form-select {
  width: 90%;
}

option {
  background-color: #CD1818 ;
  color: #321E1E;
}

 .startButton {
   display: flex;
   background-color: #CD1818;
   border-radius: 10px;
   padding-top: 15px;
   padding-left: 20px;
   padding-right: 20px;
   justify-content: center;
   margin: 15px;
 }

 p {
   background-color: transparent;
 }

 div {
   padding: 5px;
 }

 footer {
   border-top: 2px solid #321E1E;
   padding: 20px;
 }


 #attack, #heal, #flee {
  background-color: #CD1818;
  border-radius: 10px;
  margin: 15px;
 }

#monsterImage {
  width: 30vw;
  animation-fill-mode: none;
}

.animate__hinge {
  display: inline-block;
  margin: 0 0.5rem;

  animation: hinge; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.animate__wobble{
  display: inline-block;
  margin: 0 0.5rem;

  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}