.start-over {
   display: flex;
   background-color: #CD1818;
   border-radius: 10px;
   justify-content: center;
   margin: 15px;
   padding: 10px;
}

div {
   display: flex;
   justify-content: center;
}

a {
   text-decoration: none;
   color: #321E1E;
}